#bannerlogo{
    width: 40px;
    display: block;
}


.menubtn{
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1.2rem;
    right: 0;
    margin-right: 19px;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 29px;
    width: 48px;
    cursor: pointer;

}

.menubtn div{
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #368637;
}

.menubtn div:last-child{
    margin-bottom: 0;
}

#navbar{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #efefef;
    /* background-color: rgba(0, 0, 0, 0.199); */
    height: 69px;
    width: 100%;
    z-index: 2;
    transition-duration: .5s;
    transition-timing-function: ease;


}
.navlinks{
    margin-right: 18px;
    font-family: brandon;
    display: flex;
    align-items: center;
    flex-direction: row;
    float: right;


}
.navlinks div{
    /* padding: 20px; */
    display: inline;
    margin-right: 36px;
    vertical-align: center;
    padding: 20px 0px 20px 0px;

}

.navlinks div a{
    color: #484848;
    text-decoration: none;
    margin-top: 30px;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.navlinks div a:hover{
    color: rgb(29, 159, 0);
    transition-duration: .5s;
    transition-timing-function: ease;
    font-size: 19px;

}

#navbar #hidden{
    transition-duration: .5s;
    transition-timing-function: ease;
    position: absolute;

    margin-right: 30px;
    font-family: brandon;
    justify-content: center;
    display: flex;
    max-height: max-content;
    top: 70px;
    margin-left: 64px;
    transition-duration: .5s;
    transition-timing-function: ease;

    align-items: center;
    flex-direction: column;
    width: 120%;
    background-color: #ffffff;

}






@media only screen and (max-width: 700px) {
    div.navlinks{
        display: none;

    }
    div.navlinks div{
        padding: .9rem; /*Padding for mobile (how big navbar is)*/
    }
    button.menubtn{
        display: flex;
    }


}

@media only screen and (min-width: 700px) {
    #navbar #hidden{
        top: 0;

        right: 0;

        width: fit-content;
        font-family: brandon;
        /* display: flex; */
        /* align-items: center; */
        flex-direction: row;

    }


}
